@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}

body {
  background-color: rgb(212, 178, 202);
}
body h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(56, 1, 56);
}
body h2 {
  display: flex;
  flex-wrap: wrap;
  color: #ce1d87;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: justify;
  font-weight: bolder;
  margin-top: 5px;
  /*
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bolder;
  color:rgb(221, 19, 221)*/
}
body p {
  display: flex;
  flex-wrap: wrap;
  color: #3d0426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: start;
  font-weight: bold;
  justify-content: center;
  /*
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  color: #3d0426*/
}
body p:hover {
  color: #f00bca;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 3px solid rgb(33, 2, 63);
  padding: 15px;
  background: rgb(182, 37, 230);
  background: linear-gradient(90deg, rgb(182, 37, 230) 0%, rgb(228, 14, 166) 100%, rgb(223, 2, 159) 100%);
}
header img {
  width: 15%;
  margin-left: 0%;
  transition: 2seg;
}
header img:hover {
  transform: translate(45px, 10px);
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}
header nav ul li {
  margin: 5px;
}
header nav ul li a {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(19, 1, 19);
  transition: 3s;
}
header nav ul li a:hover {
  font-size: larger;
  color: rgb(238, 208, 208);
  cursor: pointer;
  margin: 15px;
}
header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  color: rgb(56, 1, 56);
}
header h1:hover {
  transform: translateY(60%);
}

.carousel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
  padding: 3px;
  border-radius: 15px;
}

.card-nosotros {
  background-color: #ccb2ce;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-evenly;
  width: 98%; /* Ajusta el ancho máximo según tus necesidades */
  padding: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.card-nosotros .card img {
  display: flex;
  flex-wrap: wrap;
  max-width: 45%; /* Ancho máximo de la imagen */
  height: auto;
  margin-left: 2px;
}

.content {
  padding: 20px;
}
.content .titulo-nosotros {
  display: flex;
  flex-wrap: wrap;
  color: #c00776;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  text-align: justify;
  font-weight: bolder;
}
.content .texto-nosotros, .content .card-text-servicios-pelu {
  /*
  display: flex;
  flex-wrap: wrap;
  color: #3d0426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  text-align:center;
  font-weight: bold;
  justify-content: center;*/
  display: flex;
  flex-wrap: wrap;
  color: #3d0426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: start;
  font-weight: bold;
  justify-content: center;
}

.container {
  justify-content: space-evenly;
  color: #ccb2ce;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.container .card {
  width: 16rem;
  align-items: center margin-top 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(238, 3, 226, 0.849);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container .card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(238, 3, 226, 0.849);
}
.container .card-body {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 9px;
}
.container .card-body .card-title {
  display: flex;
  color: #d60d86;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bolder;
}
.container .card-body .card-text {
  display: flex;
  color: #3d0426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bolder;
  justify-content: center;
}
.container .card-body .btn {
  display: flex;
  flex-wrap: wrap;
  background-color: #e6d5e7;
  color: #d60d86;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bolder;
  /*
  padding: 0.5rem;
  margin: 1rem; */
}

.container-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #ccb2ce;
  margin: 0 auto;
}
.container-servicios .card-servicios {
  display: flex;
  flex-wrap: wrap;
  width: 36rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container-servicios .card-servicios .card-body-servicios .card-title-servicios {
  display: flex;
  flex-wrap: wrap;
  color: #ce1d87;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: justify;
  font-weight: bolder;
  margin-top: 5px;
}
.container-servicios .card-servicios .card-body-servicios .card-text-servicios {
  display: flex;
  flex-wrap: wrap;
  color: #3d0426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: justify;
  font-weight: bold;
  justify-content: center;
}
.container-servicios .card-servicios .card-body-servicios .card-servicios-peluqueria {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 97%;
  align-items: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 5%;
}
.container-servicios .card-servicios .card-body-servicios .card-servicios-peluqueria .card-body-servicios-pelu .card-title-servicios-pelu {
  display: flex;
  flex-wrap: wrap;
  color: #ce1d87;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  text-align: justify;
  font-weight: bolder;
  margin-top: 5px;
}
.container-servicios .card-servicios .card-body-servicios .card-servicios-peluqueria .card-body-servicios-pelu .card-text-servicios-pelu {
  display: flex;
  flex-wrap: wrap;
  color: #3d0426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: justify;
  font-weight: bold;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  /*  justify-content: space-around;*/
  border-bottom: 3px solid rgb(33, 2, 63);
  padding: 15px;
  background: rgb(182, 37, 230);
  background: linear-gradient(90deg, rgb(182, 37, 230) 0%, rgb(228, 14, 166) 100%, rgb(223, 2, 159) 100%);
  margin-bottom: 2px;
  margin-top: 2px;
  padding: 15px 0;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer .logo-footer {
  width: 40%;
  margin: 0;
}
.footer .contacto {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bolder;
  color: rgb(31, 1, 31);
  text-align: start;
}
.footer .contacto .titulo-contacto {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: large;
  font-weight: bold;
  color: rgb(39, 3, 39);
  text-align: center;
}
.footer .horario-atencion {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  font-weight: bolder;
  color: rgb(31, 1, 31);
  text-align: start;
}
.footer .horario-atencion .titulo-horario-atencion {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  font-size: large;
  font-weight: bold;
  color: rgb(39, 3, 39);
  text-align: center;
}
.footer .newsletter .newsletter-titulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: rgb(39, 3, 39);
  text-align: start;
}
.footer .newsletter .texto-newsletter {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bolder;
  color: rgb(39, 3, 39);
  text-align: start;
}
.footer .newsletter .botton {
  text-align: right;
  align-items: right;
  background: rgb(167, 170, 186);
  background: radial-gradient(circle, rgb(167, 170, 186) 0%, rgb(252, 70, 107) 100%);
  border: #3d0426;
  border-radius: 11px;
  color: #660640;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bolder;
}

.botton {
  text-align: right;
  align-items: right;
  background: rgb(167, 170, 186);
  background: radial-gradient(circle, rgb(167, 170, 186) 0%, rgb(252, 70, 107) 100%);
  border: #3d0426;
  border-radius: 11px;
  color: #660640;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  font-weight: bolder;
}

.texto-nosotros, .card-text-servicios-pelu {
  display: flex;
  flex-wrap: wrap;
  color: #3d0426;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: start;
  font-weight: bold;
  justify-content: center;
}

.logo-footer {
  width: 15%;
  margin-left: 0%;
  transition: 2seg;
}
.logo-footer:hover {
  transform: translate(45px, 10px);
}

/*# sourceMappingURL=style.css.map */
