.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 3px solid rgb(33, 2, 63);
    padding: 15px;
    background: rgb(182, 37, 230);
    background: linear-gradient(90deg, rgba(182, 37, 230, 1) 0%, rgba(228, 14, 166, 1) 100%, rgba(223, 2, 159, 1) 100%);
    margin-bottom: 2px;
    margin-top: 2px;

    .footer-row {
        display: flex;
        flex-wrap: wrap;

        .logo-footer {
            width: 40%;
            margin: 0;
        }

        .contacto {
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
            font-weight: bolder;
            color: rgb(31, 1, 31);
           align-items: start;
         
            .titulo-contacto {
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: underline;
                font-size: large;
                font-weight: bold;
                color: rgb(39, 3, 39);
                text-align: center;
            }

            .lista-contacto{
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                font-size: large;
                font-weight: bold;
                color: rgb(39, 3, 39);
                text-align: start;

            }

        }



        .horario-atencion {
            font-family: Arial, Helvetica, sans-serif;
            font-size: medium;
            font-weight: bolder;
            color: rgb(31, 1, 31);
           align-items: start;

            .titulo-horario-atencion {
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: underline;
                font-size: large;
                font-weight: bold;
                color: rgb(39, 3, 39);
                text-align: center;
            }

            .lista-horario{
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                font-size: large;
                font-weight: bold;
                color: rgb(39, 3, 39);
                text-align: start;
               
            }
        }

        .newsletter {
            .newsletter-titulo {
                font-family: Arial, Helvetica, sans-serif;
                font-size: larger;
                font-weight: bolder;
                color: rgb(39, 3, 39);
                text-align: start;
            }

            .texto-newsletter {
                font-family: Arial, Helvetica, sans-serif;
                font-size: larger;
                font-weight: bolder;
                color: rgb(39, 3, 39);
                text-align: start;
            }

            .botton {
                text-align: right;
                align-items: right;
                background: rgb(167, 170, 186);
                background: radial-gradient(circle, rgba(167, 170, 186, 1) 0%, rgba(252, 70, 107, 1) 100%);
                border: #3d0426;
                border-radius: 11px;
                color: #660640;
                font-family: Arial, Helvetica, sans-serif;
                font-size: medium;
                text-align: center;
                font-weight: bolder;
            }

        }
    }

}